<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/main.css}" rel="stylesheet" />
    </head>
    <body class="bg-blue-300">
        <header class="bg-white container mx-auto">
            <h1 class="text-4xl font-bold p-8">Home Page</h1>
        </header>
    </body>
</html>
